{% extends 'base.html.twig' %}

{% block content %}

    {% form_theme form 'form.html.twig' %}
    {{ form_start(form) }}
    <table>
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.url) }}
        {{ form_row(form.text) }}
        {{ form_row(form.attachment) }}
        <tr>
            <td>
                {{ form_widget(form.captcha) }}
            </td>
            <td>
                <img src="{{ asset('captcha') }}">
            </td>
            <td>
                {{ error }}
            </td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                {{ form_widget(form.save) }}
                {{ form_widget(form.preview) }}
            </td>
        </tr>
    </table>
    {{ form_end(form) }}

{% endblock  %}

{% block preview %}
<table id="table" cellspacing="5px" cellpadding="5px" border="0px" ></table>
{% endblock %}